.login-hero-text {
  margin-top: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  padding-left: 30px;
  padding-right: 30px;
}
.text-primary-color {
  color: var(--primary);
  font-size: 4.5rem;
  font-weight: 900;
}

.login-image-wrapper {
  margin-top: -30px;
  height: min-content;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.login-wrapper {
  margin-top: 60px;
  width: 100%;
}
.auth-card {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}
.login-button {
  margin-top: 24px;
}
.demo-login-button {
  margin-top: 10px;
}
.remember-me {
  margin-top: 18px;
}
.login-label:not(:first-child) {
  margin-top: 24px;
}
