.logout-text {
  font-size: 1.2rem;
  margin-bottom: 0px;
}
.edit_profile_text {
  margin-top: 14px;
}
.delete_modal_icon {
  font-size: 4rem;
  margin-right: 10px;
  color: #ff4d4f;
}
.emoji_picker_icon_wrapper {
  margin-top: 10px;
  text-align: right;
  font-size: 1.5rem;
}
.edit_profile_avatar_wrapper {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
.create_post_tags {
  margin-bottom: 15px;
}
