@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,800;1,700&display=swap");
* {
  box-sizing: Border-box;
  font-family: "Open Sans", sans-serif;
}
a {
  text-decoration: none;
}
:root {
  --primary: #1678f2;
  --white: white;
}
