.site_card_border_less_wrapper {
  padding: 10px;
  padding-top: 40px;
  background: #ececec;
}
.card_post {
  margin-left: auto;
  margin-right: auto;
  width: 30vw;
}
.ant_card_head_title {
  font-weight: 600;
  font-size: 1.8rem;
}
.button_new_post {
  cursor: pointer;
  margin-left: 20px;
  border-radius: 40px;
  width: 94%;
  background-color: white;
  border: 1px solid #c6c6c6;
  color: #9e9e9e;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 0px;
}
.button_new_post:hover {
  background-color: #f6f6f6;
}
.new_post_contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button_new_post_wrapper {
  flex-grow: 1;
}
.new_post_icon_wrapper {
  margin: 8px 0px;
  font-size: 1.3rem;
  height: 15px;
}
.new_post_icon {
  margin-right: 10px;
}
.ant_menu {
  font-size: 1.5rem;
}
@media only screen and (max-width: 1600px) {
  .card_post {
    width: 45vw;
  }
}

@media only screen and (max-width: 992px) {
  .card_post {
    width: 65vw;
  }
}
@media only screen and (max-width: 768px) {
  .card_post {
    width: 90vw;
  }
}
