.draft_page {
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
.draft_image {
  height: 200px;
}
.draft_header {
  text-align: center;
  margin-top: 40px;
}
.draft_page_list {
  background-color: white;
  border-radius: 10px;
}

@media only screen and (max-width: 1600px) {
  .draft_page {
    width: 55vw;
  }
}
@media only screen and (max-width: 1200px) {
  .draft_page {
    width: 48vw;
  }
}
@media only screen and (max-width: 992px) {
  .draft_page {
    width: 80vw;
  }
}
@media only screen and (max-width: 768px) {
  .draft_page {
    width: 90vw;
  }
}
