.sidebar_feed {
  height: 92vh;
  position: fixed;
  z-index: 1;
}
.sidebar_recommendation {
  padding-top: 15px;
  padding-bottom: 15px;
  position: fixed;
  right: 0px;
  margin-top: 10vh;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.ant-menu-item {
  font-size: 1.1rem;
}
.sidebar_recommendation_text {
  font-size: 1rem;
  margin-left: 10px;
}
.divider_recommendation {
  margin: 0px 10px;
}
.list_recommendation {
  margin: 10px;
}
