.user_profile {
  margin-top: 3rem;
  text-align: center;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}
.user_profile_background_wrapper {
  max-height: 30rem;
}
.user_profile_background_wrapper img {
  object-fit: fill;
  width: 100%;
  max-height: 30rem;
  border-radius: 8px;
  margin-bottom: -3.1rem;
}
.user_profile_avatar_wrapper {
  width: min-content;
  margin-left: auto;
  margin-right: auto;
}
.profile_name {
  margin-top: 2rem;
  margin-bottom: 0px;
  font-weight: 900;
  font-size: 1.7rem;
}
.profile_id {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.profile_disc {
  margin-top: 2rem;
  font-size: 1rem;
}
.profile_card {
  margin-top: 2.4rem;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.profile_card_div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
.profile_card_info {
  font-size: 1.2rem;
}
.profile_card_text {
  margin-bottom: 0px;
  font-weight: 600;
}
.profile_card_number {
  margin-bottom: 10px;
  font-weight: 900;
}

@media only screen and (max-width: 992px) {
  .user_profile {
    width: 70vw;
  }
}

@media only screen and (max-width: 768px) {
  .user_profile {
    width: 90vw;
  }
}
