.infinite_loader {
  margin-top: 10px;
  text-align: center;
}
.post_container {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding-bottom: 6rem;
}
.post_container::-webkit-scrollbar {
  display: none;
}
.ant-space-item .post_image_wrapper {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.post_image_wrapper_outer {
  background-color: #f5f5f4;
  border-radius: 5px;
}
.add_comment_avatar {
  margin-right: 10px;
}
.comment_row {
  margin-top: 8px;
}
.add_comment_button {
  margin-left: 8px;
}
.post_content {
  width: 100%;
}
.post_wrapper {
  margin-top: 7px;
}
.post_tag_container {
  margin-top: 30px;
}

@media only screen and (max-width: 1600px) {
  .post_container {
    width: 45vw;
  }
}

@media only screen and (max-width: 992px) {
  .post_container {
    width: 65vw;
  }
}
@media only screen and (max-width: 768px) {
  .post_container {
    width: 90vw;
  }
}
